build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Makefile
*.o
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/debug/Main.exe
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/debug/moc_controllerinput.cpp
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/Makefile
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/debug/moc_mainwindow.cpp
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/Makefile.Debug
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/Makefile.Release
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/ui_mainwindow.h
Emulators/Emulators.pro.user
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/stdout.txt
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Main/Makefile
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Main/release/Main.exe
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Main/release/moc_controllerinput.cpp
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Main/stdout.txt
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Main/Makefile.Release
build-Emulators-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Main/release/moc_mainwindow.cpp